
</style > <style > @import "https://fonts.googleapis.com/css?family=Ubuntu:400,700italic";
@import "https://fonts.googleapis.com/css?family=Cabin:400";

* {
    box-sizing: border-box;
}

html {
    background: #000;
    background-size: cover;
    font-size: 10px;
    height: 100%;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 100%;
}


.all{
    margin-top: 150px;
}
#logo {
    animation: logo-entry 4s ease-in;
    width: 500px;
    margin: 90 700;
    position: absolute;
    z-index: 40;
}

h1 {
    animation: text-glow 2s ease-out infinite alternate;
    font-family: 'Ubuntu', sans-serif;
    color: #74ebe6;
    font-size: 48px;
    font-size: 4.8rem;
    font-weight: bold;
    position: absolute;
    text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
    top: 50px;
}

h1:before {
    animation: before-glow 2s ease-out infinite alternate;
    border-left: 535px solid transparent;
    border-bottom: 10px solid #74ebe6;
    content: ' ';
    height: 0;
    position: absolute;
    right: -74px;
    top: -10px;
    width: 0;
}

h1:after {
    animation: after-glow 2s ease-out infinite alternate;
    border-left: 100px solid transparent;
    border-top: 16px solid #74ebe6;
    content: ' ';
    height: 0;
    position: absolute;
    right: -85px;
    top: 24px;
    transform: rotate(-47deg);
    width: 0;
}

/*Log in form*/

#fade-box {
    animation: input-entry 3s ease-in;
    z-index: 4;
}

form {
    animation: form-entry 3s ease-in-out;
    background: #111;
    background-color: #000000;
    border: 6px solid #74ebe6;
    box-shadow: 0 0 15px #74ebe6;
    border-radius: 5px;
    display: inline-block;
    height: 220px;
    margin: 270px 0 0 20px;
    position: relative;
    z-index: 4;
    width: 500px;
    transition: 1s all;
}
 form:hover {
    border: 6px solid #74ebe6;
    box-shadow: 0 0 25px #74ebe6;
    transition: 1s all;
}

 input {
    border:0;
     border-bottom: 1px solid #00fffc;
     background: #000000;
    box-shadow: 0 2px 0 #000;
    color: #888;
    display: block;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 13px;
    font-size: 1.3rem;
    height: 40px;
    margin: 20px auto 10px;
    padding: 0 10px;
    text-shadow: 0 -1px 0 #000;
    width: 400px;
}

 input:focus {
    animation: box-glow 1s ease-out infinite alternate;
    background: #000000;
    border-color: #00fffc;
    box-shadow: 0 0 5px rgba(0, 255, 253, 0.2), inset 0 0 5px rgba(0, 255, 253, 0.1), 0 2px 0 black;
    color: #ffffff;
    outline: none;
}

button {
    animation: box-glow 1s ease-out infinite alternate;
    background: #000000;
    box-sizing: content-box;
    border-radius: 5px;
    box-shadow: 0 2px 0 #000;
    color: #fff;
    display: block;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    margin: 20px auto;
    padding: 0;
    position: relative;
    text-shadow: 0 -1px 0 #000;
    width: 400px;
    transition: 1s all;
}

 button:hover,
 button:focus {
    background: #000000;
    color: #00fffc;
    outline: none;
    transition: 1s all;
    cursor: pointer;
}

/*Circles*/
#circle1 {
    animation: circle1 4s linear infinite, circle-entry 6s ease-in-out;
    background: #74ebe6;
    border-radius: 100%;
    border: 10px solid #74ebe6;
    box-shadow: 0 0 0 2px black, 0 0 0 6px #74ebe6;
    height: 500px;
    width: 500px;
    position: absolute;
/*    top: 120px;*/
    top: 280px;
    left: 50%;
    margin-left: -250px;
    overflow: hidden;
    opacity: .6;
    z-index: -3;
}

#inner-cirlce1 {
    background: #000;
    border-radius: 100%;
    border: 36px solid #74ebe6;
    height: 460px;
    width: 460px;
    margin: 10px;
}

#inner-cirlce1:before {
    content: ' ';
    width: 240px;
    height: 480px;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
}

#inner-cirlce1:after {
    content: ' ';
    width: 480px;
    height: 240px;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
}

/*Animation Keyframes*/

@keyframes logo-entry {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes circle-entry {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0.2;
    }

    100% {
        opacity: 0.4;
    }
}

@keyframes input-entry {
    0% {
        opacity: 0;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes form-entry {
    0% {
        height: 0;
        width: 0;
        opacity: 0;
        padding: 0;
    }

    20% {
        height: 0;
        border: 1px solid #00a4a2;
        width: 0;
        opacity: 0;
        padding: 0;
    }

    40% {
        width: 0;
        height: 220px;
        border: 6px solid #00a4a2;
        opacity: 1;
        padding: 0;
    }

    100% {
        height: 220px;
        width: 500px;
    }
}

@keyframes box-glow {
    0% {
        border-color: #00b8b6;
        box-shadow: 0 0 5px rgba(0, 255, 253, 0.2), inset 0 0 5px rgba(0, 255, 253, 0.1), 0 2px 0 black;
    }

    100% {
        border-color: #00fffc;
        box-shadow: 0 0 20px rgba(0, 255, 253, 0.6), inset 0 0 10px rgba(0, 255, 253, 0.4), 0 2px 0 black;
    }
}

@keyframes text-glow {
    0% {
        color: #00a4a2;
        text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
    }

    100% {
        color: #00fffc;
        text-shadow: 0 0 20px rgba(0, 255, 253, 0.6), 0 0 10px rgba(0, 255, 253, 0.4), 0 2px 0 black;
    }
}

@keyframes before-glow {
    0% {
        border-bottom: 10px solid #00a4a2;
    }

    100% {
        border-bottom: 10px solid #00fffc;
    }
}

@keyframes after-glow {
    0% {
        border-top: 16px solid #00a4a2;
    }

    100% {
        border-top: 16px solid #00fffc;
    }
}

@keyframes circle1 {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
